/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif; 
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration:none;
    color: orange;
}
.me-image {
    float:left;
    margin-right:3rem;
    width: 334px; 
    height: 334px; 
    border-radius:30px; 
    overflow: hidden; 
}
.me-text {
    padding:2rem;
    color:black;
    text-align: left;
}
.about-me {
    background-color:#F5F5F5;
    height: 21rem;
    font-size: 27px;
    padding: 15px;
    margin: 0rem auto 0 auto;
    width: 100%;

}

.logo {
    margin-left:5rem;
    margin-top:5px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/* Navigation Section */
.top-navigation {
    background-color: white;
    opacity:.70;
    position: fixed;
    width: 100%;
    z-index: 9999;

}
.top-navigation > .content {
    width: 100%;
    height: 85px;
    margin: 0 auto;
}
.content {
    padding: 0 15px;
    margin: 6rem auto 0 auto;
    width: 100%;
}

.top-navigation .links{
    float:right;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    color: grey; 
    margin:30px 50px 0 0 ;
    -webkit-font-smoothing: antialiased;

}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    margin-right:20px;
}
.top-navigation .links > .active {
    color: orange;
    font-weight: 500;
}
.top-navigation .links {
    cursor: pointer;
    color: orange;
    transition: color 0.5s ease;
}
.top-navigation a {
    color:grey;
}
.top-navigation a:hover {
    color:orange;
    transition: color 0.3s ease;
}

/* Main Section*/

.introduction {
    background-image: url("../images/hull.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: hidden;
}
.introduction h1 {
    margin-top: 20.5rem;
    font-size: 3.125rem;
}
.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
    margin-bottom:1rem;
}
.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    margin:0 auto;
    margin-top:2rem;
    margin-bottom:3rem;
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    color: white;
    font-size: 1.125rem;
    text-align: center;
}
.big-button:hover{
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}
.big-button a{
    color: white;
}

/* Everyone needs Karma*/


.cases {
    font-size:2.75rem;
    margin:1.625rem 0 3.125;
    font-weight:300;
    color:#1d1e21;
    text-align:center;
    overflow: hidden;
    padding-bottom: 5rem;

}

.cases .devices > li {
width: 33.3333333%;
float: left;
margin-top:3rem;
}

.cases h3 {
    color:grey;
    font-size: 1.8rem;
    margin-top:15px;
    padding-left:15px;
    padding-right:45px;
}
.cases h6 {
    font-size: 1rem;
    margin-top:15px;
    color:orange;
}


.devices h3 {
font-weight: 400;
font-size: 1.563rem;
margin: 2.5rem 0px 1.875rem;
}

/* Social Bottom*/

.social {
padding-bottom: 9.375rem;
text-align: center;
}
.social .icons > li {
border-radius: 1.25rem;
width: 2.5rem;
display: inline-block;
margin: 1.25rem 5px;
border: 1px solid #eaebec;
padding: 0.625rem 0;
text-align: center;
cursor: pointer;
}
.social .twitter {
color: #55acee;
}

.social .copy {
font-size: 0.9rem;
font-weight: 300;
color: #838994;
}

.social hr {
border: 0;
border-top: 1px solid #eaebec;
margin: 1.313rem 0;
}

.social .facebook {
color: #4c66a4;
}

.social .instagram {
color: #3f729b;
}